*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#000;
}
.embed{
    width: 100%;
    height: 667px;
}
.bottom{
    position: fixed;
    display: inline-block;
    bottom:0;
    left: 0;
    width: 100%;
    height: 55px;
    background: white;
    font-size: 12px;
    text-align: center;
}
.bottom-ipn{
    position: relative;
    display: inline-block;
    margin: 0 3%;
    width: 40px;
    bottom: 20px;
}
.bottom-ipn img{
    width: 30px;
}
.bottom-ipn1{
    display: inline-block;
    margin:0 25px;
    width: 50px;
    color:#ea9518;
}
.bottom-ipn1 img{
    bottom: 25px;
    position: relative;
    width: 54px;
    border-radius: 27px;
}
.bottom-ipn1 span{
    position: relative;
    bottom: 20px;
}
