<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png">
    <link rel="stylesheet" href="/stylesheets/details.css">
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <script src="/javascripts/homePage.js"></script>
    <title>classify</title>
  </head>
  <body>
    <div class="top">
      <div class="top-box"><a href="homePage"><img src="/images/1-4.png"></a>
        <input type="text" placeholder="小米8">
      </div><span>搜索</span>
    </div>
  </body>
</html>