<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png">
    <link rel="stylesheet" href="/stylesheets/homePage.css">
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <title>login</title>
  </head>
  <body>
    <video class="video-js vjs-default-skin" id="my_video_1" controls preload="auto" height="100%" poster="video-js/my_video_poster.png" data-setup="{}"></video>
    <source src="../images/wuyifan.mp4" type="video/mp4">
    <div class="bottom"><a href="homePage">
        <div class="bottom-ipn"><img src="/images/b-11.png"><span class="span1">首页</span></div></a><a href="classify">
        <div class="bottom-ipn"><img src="/images/b-2.png"><span>分类</span></div></a><a href="find">
        <div class="bottom-ipn1"><img src="/images/logo.png"><span>发现</span></div></a>
      <div class="bottom-ipn"><img src="/images/b-3.png"><span>购物车</span></div><a href="myself">
        <div class="bottom-ipn"><img src="/images/b-4.png"><span>我的</span></div></a>
    </div>
  </body>
</html>