<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png">
    <link rel="stylesheet" href="/stylesheets/homePage.css">
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <script src="/javascripts/homePage.js"></script>
    <title>login</title>
  </head>
  <body>
    <div class="top"><img class="top-img1" src="/images/1-1.png">
      <div class="top-box"><img src="/images/1-2.png">
        <input type="text" placeholder="小米8">
      </div><img class="top-img2" src="/images/1-3.png">
      <div class="top-ul"><span>推荐</span><span>手机</span><span>发烧购物节</span><span>智能</span><span>电视</span><span>笔记本</span><span>家电</span><span>新款游戏本</span><span>大内存手机</span><span>生活周边</span><span>盒子</span></div>
    </div>
    <div class="middle">
      <ul class="ul-top">
        <li><img src="/images/2-1.jpg"></li>
        <li><img src="/images/2-2.jpg"></li>
        <li><img src="/images/2-3.jpg"></li>
        <li><img src="/images/2-4.jpg"></li>
      </ul>
      <div class="text"><span>商城早报</span><span>神秘新品预告，小米MIX 2S邀你鉴宝</span></div>
      <div class="first-img"><img class="first-img1" src="/images/3-1.jpg"><img class="first-img2" src="/images/3-2.jpg"><img class="first-img3" src="/images/3-3.jpg"></div><a><img src="/images/4.jpg" style="width:100%"></a>
      <div>
        <div>
          <p class="p4">小米闪购</p>
        </div>
        <div class="purchase2">
          <div><img src="images/5-1.jpg"><span>￥1</span></div>
          <div><img src="images/5-2.jpg"><span>￥2</span></div>
          <div><img src="images/5-3.jpg"><span>￥3</span></div>
        </div>
      </div><a><img src="/images/6.jpg" style="width:100%"></a>
      <div class="selection">
        <p class="p4">每日精选</p><a><img src="/images/7.jpg" style="width:100%"></a>
        <div class="selection-div"><a>
            <div><img src="/images/7-1.jpg">
              <p class="p1">红米4x</p>
              <p class="p2">4100mAh超长续航/骁龙8核处理器</p>
              <p class="p3">￥1099</p>
            </div></a><a>
            <div class="selection-div-div"><img src="/images/7-2.jpg">
              <p class="p1">小米6</p>
              <p class="p2">骁龙835 超大运行内存</p>
              <p class="p3">￥2199</p>
            </div></a></div>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-ipn"><img src="/images/b-1.png"><span>首页</span></div>
      <div class="bottom-ipn"><img src="/images/b-2.png"><span>分类</span></div>
      <div class="bottom-ipn1"><img src="/images/logo.png"><span>发现</span></div>
      <div class="bottom-ipn"><img src="/images/b-3.png"><span>购物车</span></div>
      <div class="bottom-ipn"><img src="/images/b-4.png"><span>我的</span></div>
    </div>
  </body>
</html>