doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        meta(content="telephone=no,email=no", name="format-detection")
        meta(content="yes", name="apple-mobile-web-app-capable")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-touch-fullscreen", content="yes")
        link(rel="shortcut icon", href="/images/title.ico", type="image/x-icon")
        link(rel="apple-touch-icon", href="/static/images/identity/HTML5_Badge_64.png")
        link(rel="stylesheet", href="/stylesheets/myself.css")
        script(src="/javascripts/jquery-1.12.4.js")
        script(src="/javascripts/homePage.js")
        title 我的
    body
        div(class="top")
            img(class="img1" src="images/touxiang.jpg")
            span 欢迎，用户
                a(href="login") 登录
            img(class="img2" src="/images/1-1.png")
        p(class="p1")
            span 我的订单
            .p-div
                span 全部订单
                img(src="images/m000.png")
        .middle1
            span
                img(src="images/m1.png")
                p 待付款
            span
                img(src="images/m2.png")
                p 待收货
            span
                img(src="images/m3.png")
                p 待评价
            span
                img(src="images/m4.png")
                p 退还修
        img(src="images/m0.jpg")
        .main
            .middle2
                div
                    img(src="images/m5.png")
                    p
                        span 优惠券
                        img(src="images/m000.png")
                div
                    img(src="images/m6.png")
                    p
                        span 会员中心
                        img(src="images/m000.png")
                div
                    img(src="images/m7.png")
                    p
                        span 我的钱包
                        img(src="images/m000.png")
            .middle3
                div
                    img(src="images/m8.png")
                    p
                        span 服务中心
                        img(src="images/m000.png")
                div
                    img(src="images/m9.png")
                    p
                        span 小米之家
                        img(src="images/m000.png")
                div
                    img(src="images/m10.png")
                    p
                        span 直供点
                        img(src="images/m000.png")
                div
                    img(src="images/m11.png")
                    p
                        span 更多功能
                        img(src="images/m000.png")
            .middle4
                div
                    img(src="images/m12.png")
                    p
                        span 设置
                        img(src="images/m000.png")
        div(class="bottom")
            a(href="homePage")
                div(class="bottom-ipn")
                    img(src="/images/b-1.png")
                    span(class="span1") 首页
            a(href="classify")
                div(class="bottom-ipn")
                    img(src="/images/b-2.png")
                    span(class="span2") 分类
            a(href="find")
                div(class="bottom-ipn1")
                    img(src="/images/logo.png")
                    span 发现
            a(href="shopping")
                div(class="bottom-ipn")
                    img(src="/images/b-3.png")
                    span 购物车
            a(href="myself")
                div(class="bottom-ipn")
                    img(src="/images/b-41.png")
                    span(style="color:#ea9518") 我的