<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <title>register</title>
  </head>
  <body><a class="top" href="register2.html">返回</a>
    <div class="content">
      <h1>设置昵称与密码</h1>
      <p class="p1">密码由8-16位数字、字母或符号组成，至少含有两种及以上字符</p>
      <input class="inputText" type="text" placeholder="昵称" name="username">
      <input class="inputText" type="password" placeholder="手机号">
      <input class="inputText" type="text" placeholder="密码" name="username">
      <input class="inputText" type="password" placeholder="确认密码">
      <input class="inputSubmit" type="submit" value="注册">
    </div>
  </body>
</html>