doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
        meta(content="telephone=no,email=no", name="format-detection")
        meta(content="yes", name="apple-mobile-web-app-capable")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-touch-fullscreen", content="yes")
        link(rel="shortcut icon", href="/images/title.ico", type="image/x-icon")
        link(rel="apple-touch-icon", href="/static/images/identity/HTML5_Badge_64.png")
        link(rel="stylesheet", href="/stylesheets/shopping.css")
        script(src="/javascripts/jquery-1.12.4.js")
        title 购物车
    body
        div(class="top")
            span 购物车
            img(src="/images/1-1.png")
        div(class=".middle")
            div(class="middle-top")
                img(src="images/b-3.png")
                span 购物车还是空的
                a(href="homePage")
                    button 去逛逛
        p(class="middle-p") 猜你喜欢
        div(class="selection")
            a
                img(src="/images/2-3.jpg", style="width:100%")
            div(class="selection-div")
                a
                    div
                        img(src="/images/7-1.jpg")
                        p(class="p1") 红米4x
                        p(class="p2") 4100mAh超长续航/骁龙8核处理器
                        p(class="p3") ￥1099
                a
                    div(class="selection-div-div")
                        img(src="/images/7-2.jpg")
                        p(class="p1") 小米6
                        p(class="p2") 骁龙835 超大运行内存
                        p(class="p3") ￥2199
            div(class="selection-div")
                a
                    div
                        img(src="/images/7-3.jpg")
                        p(class="p1") 小米MIX 2S
                        p(class="p2") 陶瓷机身 手机中的艺术品
                        p(class="p3") ￥2899起
                a
                    div(class="selection-div-div")
                        img(src="/images/7-4.jpg")
                        p(class="p1") 移动电源高配版
                        p(class="p2") 支持USB-C充电/高密度
                        p(class="p3") ￥149
            div(class="selection-div")
                a
                    div
                        img(src="/images/7-5.jpg")
                        p(class="p1") 小米米家电动滑板车
                        p(class="p2") 极简几何设计/30公里超长续航
                        p(class="p3") ￥1999
                a
                    div(class="selection-div-div")
                        img(src="/images/7-6.jpg")
                        p(class="p1") 红米4A
                        p(class="p2") 4100mAh超长续航/晓龙8核处理器
                        p(class="p3") ￥799
        div(class="bottom")
            a(href="homePage")
                div(class="bottom-ipn")
                    img(src="/images/b-1.png")
                    span(class="span1") 首页
            a(href="classify")
                div(class="bottom-ipn")
                    img(src="/images/b-2.png")
                    span 分类
            a(href="find")
                div(class="bottom-ipn1")
                    img(src="/images/logo.png")
                    span 发现
            a(href="shopping")
                div(class="bottom-ipn")
                    img(src="/images/b-31.png")
                    span(class="span3") 购物车
            a(href="myself")
                div(class="bottom-ipn")
                    img(src="/images/b-4.png")
                    span 我的
