<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <link rel="apple-touch-icon" href="/static/images/identity/HTML5_Badge_64.png">
    <link rel="stylesheet" href="/stylesheets/shopping.css">
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <title>购物车</title>
  </head>
  <body>
    <div class="top"><span>购物车</span><img src="/images/1-1.png"></div>
    <div class="bottom"><a href="homePage">
        <div class="bottom-ipn"><img src="/images/b-1.png"><span class="span1">首页</span></div></a><a href="classify">
        <div class="bottom-ipn"><img src="/images/b-2.png"><span>分类</span></div></a><a href="find">
        <div class="bottom-ipn1"><img src="/images/logo.png"><span>发现</span></div></a><a href="shopping">
        <div class="bottom-ipn"><img src="/images/b-31.png"><span class="span3">购物车</span></div></a><a href="myself">
        <div class="bottom-ipn"><img src="/images/b-4.png"><span>我的</span></div></a></div>
  </body>
</html>